html {
    background-color: lightgrey;
}

h1 {
    background-color: yellow;
    color: red;
}

#para-blue {
    background-color: cyan;
}

#para-green{
    background-color: greenyellow;
}
.para-orange {
    background-color: orange;
}
